language: python
dist: trusty
sudo: true
addons:
  apt:
    packages:
      - xvfb
      - dbus-x11
      - xorg
python: 3.6
os: linux
script:
  - sudo apt-get update
  - pip install -r requirements.txt --upgrade
  - pip install -r tests/requirements-test.txt --upgrade
  - cd tests
  - xvfb-run pytest